/*-----UNIVERSALS-------*/
.row {
    padding-top: 15px;
    padding-bottom: 15px;
}
.vertical-align {
    display: flex;
    align-items: center;
}
.space {
    margin-left: 40px;

}
.black {
    background-color: #000;
}
.small-height {
    height: 20px;
}
.medium-height {
    height: 60px;
}
.max-height {
    height: 240px;
}
.full-height {
    height: 120px;
}

/*-----UNIVERSALS-------*/

/*-----UNIVERSALS-------*/
